# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
OfferCreater4AZpDKVoBxVcYUJCWMcqZzyWsHTteC4ZE
sell 14,207.004522 XRP @ 5.9423 XRP/CNY
x
OfferCreater4AZpDKVoBxVcYUJCWMcqZzyWsHTteC4ZE
sell 13,994.022455 XRP @ 5.6539 XRP/CNY
x
OfferCreater4AZpDKVoBxVcYUJCWMcqZzyWsHTteC4ZE
sell 18,383.574924 XRP @ 5.3795 XRP/CNY
x
OfferCancelrD73szXq9tvB8UswSa5hgu9q2HT2Z6r3Tu
Offer 67511760 cancelled
✓
OfferCreaterNedHaD7vkxNqo4yHcScX9gdsQZ2DZ7g23
buy 227,399.25 USD @ 0.764 XRP/USD
✓
OfferCreaterETx8GBiH6fxhTcfHM9fGeyShqxozyD3xe
sell 8,227,605.4 5852646F67650000000000000000000000000000 @ 0.0004483 5852646F67650000000000000000000000000000/XRP
✓
PaymentrEDUJytJsBoPg3DumPGGWzcWKLirHbfHpk
118.3723 XRP sent to rwmxiYXqgSTuu38f8jfHRbNqRnfcuQ9xF1
✓
TrustSetrE3GX2TTPkgNymDvaD7MR5fAo8czferhof
rGkvzG2RLhCYCtdgtDxaejjaQn4BSJYoy8 up to 0 41584F4C00000000000000000000000000000000
✓
OfferCreaterHUt1wokn4gtYRMsw5YJuQR8Amt7EH1GE3
sell 3.3333e-9 MZT @ 3,000 MZT/XRP
✓
PaymentrJPA3zznzaDowTYhhfTVzX6XhR3Kn81JJc
92.008321 XRP sent to rEb8TK3gBgk5auZkwc6sHnwrGVJH8DuaLh
✓
PaymentrJb5KsHsDHF1YS5B5DU6QCkH5NsPaKQTcy
150.7529 XRP sent to rKV8HEL3vLc6q9waTiJcewdRdSFyx67QFb
✓
PaymentrJb5KsHsDHF1YS5B5DU6QCkH5NsPaKQTcy
116.810669 XRP sent to razLtrbzXVXYvViLqUKLh8YenGLJid9ZTW
✓
PaymentrKqiMt8pcYnXUCf3ZVPnDcgdqG5ABEocv5
197.324971 XRP sent to rfEVsqiU1PKr1Yy5PyxDVTrMbDeHmBqm4H
✓
TrustSetrKEJWqcnGLmgEhivr1TsiZ64fVqtpTMTWV
rB8Lrw5eY42Kk6DE6AwMiC1K4tyudg8URB up to 1,000 5861706573000000000000000000000000000000
✓
OfferCreaterMLE26B32uQJKywKjBtjLYUEunUyg64x7u
sell 3,450,000 CSC @ 0.0024194 CSC/XRP
✓
PaymentrMJSsGXfyMufayfFxy3jYym2VjLFzFwD6i
52,902 5350524541440000000000000000000000000000 sent to rMbmQmMYySRX7q3XKL145m4fnFsetxrSUL
✓
PaymentrLFxutRvDH4vaSmqwPhewqY4Az4R45BFqG
11.453 BNM sent to rHoKebRdNF9EmUciXryAfFH4GdAKGx1Yye
✓
OfferCreater4nfnBQvf3H1ZZ2R2mT7WmPbCo3fMknhc6
sell 97.2089 VGB @ 0.93138 VGB/XRP
✓
TrustSetr4rUvM3txp7K6KovsgCui4DSeXoYQJCx3T
r4J3XtWvu869Jnk2zLp9jnzcA37VeqpPiA up to 1,000,000,000,000 STC
✓
OfferCreater4AZpDKVoBxVcYUJCWMcqZzyWsHTteC4ZE
sell 17,540.067421 XRP @ 5.1184 XRP/CNY
✓
OfferCancelr4AZpDKVoBxVcYUJCWMcqZzyWsHTteC4ZE
Offer 98545961 cancelled
✓
OfferCreaterQ3fNyLjbvcDaPNS4EAJY8aT9zR3uGk17c
sell 370.365046 XRP @ 5.9994 XRP/CNY
✓
OfferCreaterQ3fNyLjbvcDaPNS4EAJY8aT9zR3uGk17c
sell 2,483.809577 XRP @ 5.7082 XRP/CNY
✓
OfferCreaterQ3fNyLjbvcDaPNS4EAJY8aT9zR3uGk17c
sell 13,775.354785 XRP @ 5.4312 XRP/CNY
✓
OfferCreaterQ3fNyLjbvcDaPNS4EAJY8aT9zR3uGk17c
sell 5,189.30172 XRP @ 5.1676 XRP/CNY
✓
Paymentrp123ueGwZTCu5ADoFMGHxE7sBUSKiwnBc
213.81548 XRP sent to rfKsmLP6sTfVGDvga6rW6XbmSFUzc3G9f3
✓
OfferCancelrhGBidiC3eViwDGXrwoxnHVaA2qGNxjJSF
Offer 68345490 cancelled
✓
OfferCreaterh3VLyj1GbQjX7eA15BwUagEhSrPHmLkSR
buy 71,131.499 CNY @ 4.1268 XRP/CNY
✓
OfferCreaterh3VLyj1GbQjX7eA15BwUagEhSrPHmLkSR
buy 95,815.312 CNY @ 4.3373 XRP/CNY
✓
OfferCreaterh3VLyj1GbQjX7eA15BwUagEhSrPHmLkSR
buy 101,595.07 CNY @ 4.5585 XRP/CNY
✓
OfferCreaterh3VLyj1GbQjX7eA15BwUagEhSrPHmLkSR
buy 27,324.895 CNY @ 4.7911 XRP/CNY
✓
OfferCancelrnKiczmiQkZFiDES8THYyLA2pQohC5C6EF
Offer 61560341 cancelled
✓
PaymentrhuCPEoLFYbpbwyhXioSumPKrnfCi3AXJZ
999.24571 XRP sent to rPFXvVo2fYXVPdV9gCHQouHsMgMhQ2aUwM
✓
PaymentrhqeXZjAgRhqqh1xynewBoJ6griYJ3nKVv
100 XRP sent to rEb8TK3gBgk5auZkwc6sHnwrGVJH8DuaLh
✓
OfferCreateraM7sEM9PNzxV2DfQ33nrZaVf6yNdNHwdj
buy 284.380655 XRP @ 1.3698 534F4C4F00000000000000000000000000000000/XRP
✓
OfferCreateraBmhBNmYFGe5hJ5Gez2MbpNspewctCAGv
buy 305,635.02 USD @ 0.76409 XRP/USD
✓
OfferCreaterfEVtF3h7j9uGGvCW7Cma465dwoqyJW1kG
buy 658.87136 USD @ 0.79173 XRP/USD
✓
OfferCreaterffVYsUUe31yk5Ua6M2mpmYjjmfAXKoW71
buy 102.95 XRP @ 0.02059 584D455441000000000000000000000000000000/XRP
✓
OfferCreater3rhWeE31Jt5sWmi4QiGLMZnY3ENgqw96W
buy 95,239.317541 XRP @ 54,218 BTC/XRP
✓
OfferCreater3rhWeE31Jt5sWmi4QiGLMZnY3ENgqw96W
buy 56,292.063785 XRP @ 55,020 BTC/XRP
✓
OfferCancelr3rhWeE31Jt5sWmi4QiGLMZnY3ENgqw96W
Offer 48966962 cancelled
✓
OfferCancelr3rhWeE31Jt5sWmi4QiGLMZnY3ENgqw96W
Offer 48966961 cancelled
✓
TrustSetrftiZ4kgusNFPNDtr7ckfEybJFv8yea44d
rU6JmvUpdxsx8gxLLgfcRhfz5ASNmGpSwm up to 0 436F6E736572766174696F6E436F696E00000000
✓
TrustSetr3ThmNbKw5Bwv9LkwKLeFTBDadReMQUDna
rQB9HhhBCq2zAVpwQD3jV9ja39DmomdWj1 up to 100,000,000,000 ELM
✓
TrustSetr92txHAdsqtKP1gG4oRqNdKvknomHbSTHh
r3hmy4JpSHPWuomNsGtCkKrCqALakDAJiJ up to 0 58506172726F7400000000000000000000000000
✓
Paymentr97KeayHuEsDwyU1yPBVtMLLoQr79QcRFe
468.8032 XRP sent to rJn2zAPdFA193sixJwuFixRkYDUtx3apQh
✓
PaymentrBpEbkRDtGk2rqBsNqvRCLaw4UAD8jrRJr
52,902 5350524541440000000000000000000000000000 sent to r3VKHzZuDRHuH7U44ZyrmYJL1zfS4G9Uph
✓
OfferCancelrBRT4ducfzSf9NTG1aVJvLszJvweopKsB9
Offer 67981951 cancelled
✓
OfferCreaterUSEwu179UAHbZz4eSaq7WK2EFyPSjnYY6
buy 7.184632 XRP @ 3.3701 XUM/XRP
✓
PaymentrUhHatahiFjduv6HXcwuqRxc6Bnq458ML8
500 584D455441000000000000000000000000000000 sent to rMsA9pt9CuZtKYmjqK94gTV1rc5z3fsvV
✓
